<script>
	// @ts-nocheck

	import '../app.pcss';
	import { AppShell } from '@skeletonlabs/skeleton';
	import { onNavigate } from '$app/navigation';
	import Menubar from '$lib/components/menubar.svelte';

	/**
	 * Description
	 * @param {any}
	 * @returns {any}
	 */
	onNavigate((navigation) => {
		if (!document.startViewTransition) return;

		return new Promise((resolve) => {
			document.startViewTransition(async () => {
				resolve();
				await navigation.complete;
			});
		});
	});
</script>

<AppShell slotHeader="">
	<svelte:fragment slot="header">
		<!-- <Sidebar /> -->
		<Menubar />
	</svelte:fragment>
	<!-- (sidebarRight) -->
	<!-- (pageHeader) -->
	<!-- Router Slot -->
	<slot />
	<!-- ---- / ---- -->
	<!-- <svelte:fragment slot="pageFooter">Page Footer</svelte:fragment> -->
	<!-- (footer) -->
</AppShell>

<style lang="scss">
	// routing animation

	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	@keyframes slide-from-right {
		from {
			transform: translateX(30px);
		}
	}

	@keyframes slide-to-left {
		to {
			transform: translateX(-30px);
		}
	}

	:root::view-transition-old(root) {
		animation:
			250ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			450ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}

	:root::view-transition-new(root) {
		animation:
			330ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			420ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
</style>
