<script>
	// imports
	import '../app.pcss';
	import TeamCard from '$lib/components/team-card.svelte';
	import TeamGenerator from '$lib/components/team-generator.svelte';
</script>

<div class="container mx-auto space-y-12 p-6">
	<TeamGenerator />
	<TeamCard />
</div>
