<script>
	let buttonProps = {
		class: [$$restProps.class]
	};
</script>

<section class="stage">
	<button class="empty" on:click>
		<figure class="ball">
			<span class="shadow"></span>
			<span class="iris"></span>
		</figure>
	</button>
</section>

<style lang="css">
	.ball {
		display: inline-block;
		width: 37px; /* Adjust width */
		height: 37px; /* Adjust height */
		margin: 0;
		border-radius: 50%;
		position: relative;
		background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
	}

	.ball:after {
		content: '';
		position: absolute;
		top: 5%;
		left: 10%;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: radial-gradient(
			circle at 50% 50%,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8) 14%,
			rgba(255, 255, 255, 0) 24%
		);
		transform: translateX(-80px) translateY(-90px) skewX(-20deg);
	}

	.iris {
		width: 13px; /* Adjust width */
		height: 13px; /* Adjust height */
		margin: 20%; /* Adjust margin */
		border-radius: 100%;
		background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
		transform: translateX(-8px) translateY(-1px) skewX(6deg) skewY(3deg);
		position: absolute;
		animation: move-eye-skew 5s ease-out infinite;
	}

	.iris:before {
		content: '';
		display: block;
		position: absolute;
		width: 35%; /* Adjust width */
		height: 35%; /* Adjust height */
		border-radius: 100%;
		top: 31.25%;
		left: 31.25%;
		background: black;
	}

	.iris:after {
		content: '';
		display: block;
		position: absolute;
		width: 25%; /* Adjust width */
		height: 25%; /* Adjust height */
		border-radius: 100%;
		top: 18.75%;
		left: 18.75%;
		background: rgba(255, 255, 255, 0.2);
	}

	.ball .shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background: radial-gradient(
			circle at 50% 50%,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.1) 40%,
			rgba(0, 0, 0, 0) 50%
		);
		transform: rotateX(90deg) translateZ(-150px);
		z-index: -1;
	}

	.stage {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin: 20px;
		perspective: 1200px;
		perspective-origin: 50% 50%;
	}
</style>
