<script>
	// @ts-nocheck

	import { teamNames, teamsKnown } from '$lib/constant';
	import { tweened } from 'svelte/motion';
	import { flip } from 'svelte/animate';
	import { fly } from 'svelte/transition';
	import Ball from './ball.svelte';

	/**
	 * @type {string[][]}
	 */
	$: groupArr = Array.from({ length: teamsKnown.length }, () =>
		Array(teamsKnown[0].length).fill('')
	);

	let horizontal = false;

	const options = {};
	/**
	 * @type {string[][]}
	 */
	$: newArr = Array.from({ length: teamsKnown.length }, () => Array(teamsKnown[0].length).fill(''));

	// for disabling state TODO: add animation instead of disabling
	$: disabled = false;

	$: disabled_class = disabled ? 'disabled' : 'font-bold';

	let disabledItems = {};

	let movingElement = null;
	let movingElementPosition = { x: 0, y: 0 };

	function handleClick(teamName) {
		disabledItems[teamName] = true;
	}

	let groupArr = [];
	let selectedString = null;
	/**
	 * @param {string[][]} groupArr
	 * @param {string} ind
	 * @returns {string[][] | undefined}
	 */
	function addStringWithEmptySpotsRandom(groupArr, ind) {
		// 1. Check if there are any empty spots
		const emptyIndices = [];
		for (let rowIndex = 0; rowIndex < groupArr.length; rowIndex++) {
			for (let colIndex = 0; colIndex < groupArr[rowIndex].length; colIndex++) {
				if (groupArr[rowIndex][colIndex] === '') {
					emptyIndices.push([rowIndex, colIndex]); // Store row and column indices
				}
			}
		}

		if (emptyIndices.length === 0) {
			console.error('No available positions to add the string.');
			return; // Exit if no empty spots
		}

		// 2. Choose a random empty spot
		const randomIndex = Math.floor(Math.random() * emptyIndices.length);
		const [rowIndex, colIndex] = emptyIndices[randomIndex];

		// 3. Add the string to the chosen spot
		groupArr[rowIndex][colIndex] = ind;

		// console.table('GROUP_ARRAY', groupArr);
		return groupArr;
	}
</script>

<div class="container-fluid draw-layout">
	<section class="draw-content">
		{#each teamsKnown as team, teamIndex (team)}
			<div class="draw-card sketchy">
				<h2 class="draw-card-title">
					{`Pota : ${teamNames[teamIndex]}`}
				</h2>
				{#each team as ind, elementIndex (ind)}
					<ol class="draw-card-list list">
						<li class="draw-card-team">
							<button
								on:click={() => {
									handleClick(ind);
								}}
								class:disabled={disabledItems[ind]}
								out:fly={{ y: 500, duration: 500 }}
								class="item"
								on:click={() => {
									setTimeout(() => {
										newArr = addStringWithEmptySpotsRandom(groupArr, ind);
									}, 500);
								}}
							>
								<span>
									{ind}
								</span>
							</button>
						</li>
					</ol>
				{/each}
			</div>
		{/each}

		<!-- {#each teamsKnown as team, i}
			<div class="flex-2">
				<Ball
					on:click={() => {
						console.log(team);
						console.log(team[i]);
					}}
				/>
				<p class="pl-4">ball per</p>
			</div>
		{/each} -->
	</section>

	<div class="draw-content">
		{#each newArr as group, i (group)}
			<div class="draw-card sketchy" animate:flip={{ duration: 400 }}>
				<h2 class="draw-card-title">
					{`Qrup : ${teamNames[i]}`}
				</h2>
				{#each group as ind, i (i)}
					<ol class="draw-card-list list" animate:flip={{ duration: 800 }}>
						<li class="draw-card-team mt-1">
							<button class="item text-s flex-auto">{ind}</button>
						</li>
					</ol>
				{/each}
			</div>
		{/each}
	</div>
</div>

<style lang="postcss">
	.draw-layout {
		display: flex;
	}
	.draw-content {
		max-width: 100%;
		&:first-child {
			border-right: 4px dotted #464646;
		}
		display: grid;
		@media (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		grid-template-columns: 1fr 1fr auto;
		@media (min-width: 1200px) {
			gap: 2rem;
		}
		gap: 1rem;
		height: max-content;
		padding: 1.5rem;
	}

	.draw-card {
		@media (min-width: 1200px) {
			width: 12.6rem;
		}
		width: 10rem;
		height: min(240px, max-content);
	}

	.draw-card-title {
		background-color: #59c9a5;
		text-align: center;
		margin-block: 1rem;
		font-size: 2em;
		padding: 0.5rem;
		transition: all 0.5s;
		font-family: 'Just Another Hand';
		@media (min-width: 1200px) {
			letter-spacing: 2px;
		}

		position: relative;
		text-shadow: 3px 3px 1px #bfecf7;
		&:hover {
			background-color: #465775;
			border-radius: 100px;
			color: wheat;
			text-shadow: 3px 3px 1px black;
		}
	}

	.draw-card-list {
		/* border: 1.5px solid black; */
		padding-block: 0.25rem;
	}

	.sketchy {
		@media (min-width: 1200px) {
			/* padding: 1.75rem 4rem; */
		}
		padding: 0.75rem 1rem;
		display: inline-block;
		border: 3px solid #333333;
		border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
		text-transform: uppercase;
		/* letter-spacing: 0.3ch; */
		background: #ffffff;
		position: relative;

		&::before {
			content: '';
			border: 2px solid #353535;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
			border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
		}
	}
	.draw-card-team {
		border-top: 1px solid #353535;
		border-bottom: 1px solid #353535;
		text-align: center;
		position: relative;
		transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
		/* font-family: 'Architects Daughter', cursive;
		font-weight: 600; */
		/* font-size: 1.35rem; */
		&:hover {
			background-color: #465775;
			color: wheat;
		}
	}

	.item {
		transition: transform 0.3s ease-in-out;
		width: 100%;
	}

	.item:leave {
		transform: scale(0);
	}

	.nice-hover {
		transition: all 540ms cubic-bezier(0.1, -0.81, 0.31, 2);
	}

	.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
</style>
