<script>
</script>

<!-- <div
	class="nice-hover card w-48 w-full cursor-pointer rounded-xl object-cover pb-1 pl-3 pr-3 pt-4 shadow-2xl hover:scale-[1.01]"
>
	<h2 class="h3 mb-3 rounded-xl bg-black text-center text-white">
		{`Qrup  : 1`}
	</h2>
	<ol class="list">
		<li class="custom-list mt-1">
			<span class="text-s flex-auto">1</span>
		</li>
	</ol>
</div> -->
