<nav class="main-nav list-nav">
	<ul class="">
		<li class="main-nav-list">
			<a href="/"
				><svg
					class="text-gray-800 dark:text-white"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M3 6.2V5h11v1.2M8 5v14m-3 0h6m2-6.8V11h8v1.2M17 11v8m-1.5 0h3"
					/>
				</svg></a
			>
		</li>
		<li class="main-nav-list">
			<a href="/draw"
				><svg
					class="text-gray-800 dark:text-white"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						d="M5 3a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5Zm0 12a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H5Zm12 0a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2Zm0-12a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-2Z"
					/>
					<path
						fill-rule="evenodd"
						d="M10 6.5a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2h-2a1 1 0 0 1-1-1ZM10 18a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2h-2a1 1 0 0 1-1-1Zm-4-4a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1Zm12 0a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1Z"
						clip-rule="evenodd"
					/>
				</svg>
			</a>
		</li>
		<li class="main-nav-list">
			<span class="text-gray-800 dark:text-white">
				<svg
					class=""
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"
					/>
				</svg>
			</span>
		</li>
	</ul>
</nav>

<style lang="scss">
	.main-nav {
		display: flex;
		font-size: 1.125rem;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		view-transition-name: header;
	}

	.main-nav > ul {
		display: flex;
		gap: 1.5rem;
		padding-block: 0.5rem;
		padding-inline: 1rem;
		background-color: #59c9a5;
		transition: all 0.5s;
		border-radius: 100px;
	}
	.main-nav > ul:hover {
		background-color: #465775;
		border-radius: 0;
		.main-nav-list > span {
			color: white;

			&:hover {
				color: #59c9a5;
			}
		}
		.main-nav-list > a > svg {
			color: white;

			&:hover {
				color: #59c9a5;
			}
		}
	}

	.main-nav-list {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.main-nav-list > a {
		padding: 0;
	}
</style>
