<script>
	import { teams } from '$lib/store';

	/**
	 * @type {string[]}
	 */
	const teamNames = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];

	console.log('teams', $teams);
</script>

<div class="mt-10 grid grid-cols-4 gap-4">
	<!-- {#each } -->

	{#each $teams as team, i (team)}
		<div
			class="card nice-hover w-64 w-full cursor-pointer rounded-xl object-cover p-4 shadow-2xl hover:scale-[1.01]"
		>
			<h2 class="h3 mb-3">{`Qrup : ${teamNames[i]}`}</h2>
			{#each team as ind, i (ind)}
				<ol class="list">
					<li class="mt-4">
						<span>
							<span class="btn-icon variant-filled w-8"
								><svg
									class="h-4 w-4 text-gray-200 hover:animate-spin dark:text-white"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									fill="currentColor"
									viewBox="0 0 24 24"
								>
									<path
										fill-rule="evenodd"
										d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
										clip-rule="evenodd"
									/>
								</svg>
							</span></span
						>
						<span class="flex-auto">{ind}</span>
					</li>
					<!-- ... -->
				</ol>
			{/each}
		</div>
	{/each}
</div>

<style lang="postcss">	
	.nice-hover {
		transition: all 540ms cubic-bezier(0.1, -0.81, 0.31, 2);
	}
</style>
