<script>
	// imports
	import { teams } from '$lib/store';
	import { cubicOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';
	import { loading } from '$lib/store';

	// variables
	let teamStr = '';

	/**
     *@type {number | string}
     @description: How many team in one group
     */
	let splitSize = String(4);

	const size = tweened(1, {
		duration: 300,
		easing: cubicOut
	});

	// logic

	/**
	 * Description
	 * @returns {string[]}
	 * @description: generating random teams based on shuffling and split to chunk-size
	 */
	function generateRandomTeams() {
		const teamsArr = teamStr.split(/[,\n]+/).filter(Boolean); // from textarea

		for (let i = teamsArr.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			console.log('show me j', j);
			[teamsArr[i], teamsArr[j]] = [teamsArr[j], teamsArr[i]];
		}

		/**
		 * Description
		 * @param {any} arr
		 * @param {any} size
		 * @returns {any}
		 */
		const chunk = (arr, size) =>
			Array.from({ length: Math.ceil(arr.length / size) }, (v, i) =>
				arr.slice(i * size, i * size + size)
			);

		console.log('AFTER CHUNKED: ', chunk(teamsArr, Number(splitSize)));
		const splitedTeams = chunk(teamsArr, Number(splitSize));
		return splitedTeams;
	}

	/**
	 * Description
	 * @param {any} event
	 * @returns {any}
	 */
	function handleSubmit(event) {
		setTimeout(() => {
			$teams = generateRandomTeams();
			$loading = !$loading;
		}, 1500);
	}
</script>

<form on:submit|preventDefault={handleSubmit}>
	<!-- <div use:loader={loading}>Loading...</div> -->
	<div class="flex gap-10">
		<section>
			<label class="label w-[25rem]">
				<p class="font-bold">İştirak edən komandalar :</p>
				<textarea
					required
					class="textarea"
					rows="10"
					placeholder="Komandaları bura əlavə edin"
					bind:value={teamStr}
				/>
			</label>
			<button type="submit" class="variant-filled btn mt-3">
				<span
					><svg
						class="h-6 w-6 text-gray-300 hover:animate-spin dark:text-white"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						fill="none"
						viewBox="0 0 24 24"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"
						/>
					</svg>
				</span>
				<span>Generasiya et</span>
			</button>
		</section>
		<label class="label">
			<span>Böl :</span>
			<select class="select" bind:value={splitSize}>
				<option value="2">2</option>
				<option value="4">4</option>
				<option value="6">6</option>
			</select>
		</label>
	</div>
</form>
